body {
    display:flex;
    flex-direction: column;
}
.hero {display: flex;
flex-direction: column;
background-color: #1f2937;
color:white;
padding: 2em;
}
.header {display: flex;
justify-content: center;
height: 150px;
font-size: 24px;
color: #f9faf8;
font-weight: bold;
gap: 450px;
 }

ul {display:flex;
    gap: 50px;
    list-style: none;
}

a {
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px;
    font-weight: 100;  
}

.main-title { display: flex;
justify-content: center;
gap: 70px;
}

.lone {display: flex;
flex-direction: column;
width: 400px;
}

#chik { 
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

sub { 
    font-size: 18px;
    color: #e5e7eb;
}
#bt1 { background-color: #3882f6;
color: #f9faf8;
width: 100px;
height: 40px;
border-radius: 10px;
border: none;
}

.main {display: flex;
align-items: center;
flex-direction: column;
padding: 25px;
}

.top-txt {
   font-size: 36px;
   font-weight: bold;
   color: #1f2937;
}
.fours {
    border: 4px solid #3882f6;
    height: 150px;
    width: 150px;
    display: flex;
    border-radius: 20px;
}
.big { display: flex;
justify-content: center;
margin: 40px auto;
margin-bottom: 100px;
gap: 50px;

height: 150px;
width: 70em;

}

.subtext {
    color: black; 
}

.small {
display: flex;
flex-direction: column;
width: 150px;
height: max-content;
gap: 5px;}

.quotes {
    display: flex;
    background-color: #e5e7eb;
    padding: 4em;
    font-size: 36px;
    font-style: italic;
    flex-direction: column;
}

.god {
   align-self: flex-end;
}

.fourth {
    display: flex;
   gap: 11em;
    background-color: #3882f6;
    padding: 3em;
    width: 50em;
    margin: 80px auto;
    color: #f9faf8;
}

#bt2 {
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
height: 30px;
border-radius: 10px;
}

.child {
    display: flex;
    flex-direction: column;
    margin-left: 5em;
}
.Call {
    font-size: 25px;
    font-weight: bold;
}
.footer {
    background-color: #1f2937;
    padding: 2em;
    width: 80em;
    color: #f9faf8;
    text-align: center;
}


